﻿<div class="row">
	<div class="step active" id="step1" data-step-id="1">
        @Html.Partial("_Stepper", 1)
        @Html.Partial("_RegisterFund")
	</div>
	<div class="container step" id="step2" data-step-id="2" style="display:none">
        @Html.Partial("_Stepper", 2)
        @Html.Partial("_RegisterCompany")
    </div>
	<div class="step" id="step3" data-step-id="3" style="display:none">
        @Html.Partial("_Stepper", 3)
        @Html.Partial("_RegisterEmployee")
    </div>
</div>
@section style{
    <link rel=stylesheet href="~/lib/codemirror/codemirror.css">
    <link rel=stylesheet href="~/lib/noUiSlider/nouislider.min.css">
}

@section scripts{
    <script src="~/lib/codemirror/codemirror.js"></script>
    <script src="~/lib/codemirror/mode/javascript.js"></script>
    <script type="text/javascript" src="~/js/home.js"></script>
    <script type="text/javascript" src="~/lib/noUiSlider/nouislider.min.js"></script>
    <script src="~/js/registerCompany.js" asp-append-version="true"></script>
}
